* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  *:focus {
    outline: none; }

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

img {
  max-width: 100%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

/* btns */
.btn_simple {
  color: #722ed1;
  border: 1px solid #722ed1;
  font-weight: 500;
  border-radius: 20px;
  padding: 6px 34px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .btn_simple:hover {
    background-color: #722ed1;
    color: #fff; }

.btn {
  color: #fff;
  background-color: #722ed1;
  border-radius: 24px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 14px 40px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .btn:hover {
    background-color: #fff;
    color: #111; }
  .btn.btn_white {
    background-color: #fff;
    color: #111; }
    .btn.btn_white:hover {
      color: #fff;
      background-color: #722ed1; }

/* header */
#top_banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center; }

#header {
  padding-top: 24px; }
  #header .inner_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #header .inner_header > .logo {
      display: block;
      width: 48px; }
      #header .inner_header > .logo > img {
        width: 100%; }
    #header .inner_header .right_side_header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #header .inner_header .right_side_header .menu_top > li {
        display: inline-block;
        color: #000;
        margin-right: 40px;
        position: relative; }
        #header .inner_header .right_side_header .menu_top > li a {
          display: block;
          font-weight: 500;
          -webkit-transition: color 0.4s ease;
          transition: color 0.4s ease; }
          #header .inner_header .right_side_header .menu_top > li a:hover {
            color: #722ed1; }
        #header .inner_header .right_side_header .menu_top > li > .sub_menu {
          position: absolute;
          top: 35px;
          background-color: #fff;
          -webkit-box-shadow: 0 3px 6px;
                  box-shadow: 0 3px 6px;
          z-index: 10;
          border-radius: 5px; }
          #header .inner_header .right_side_header .menu_top > li > .sub_menu > li {
            display: block;
            padding: 5px 0; }
            #header .inner_header .right_side_header .menu_top > li > .sub_menu > li > a {
              padding: 3px 10px;
              font-size: 15px; }

.notif {
  background-color: #f9f0ff;
  border-radius: 20px;
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #722ed1;
  max-width: 256px; }
  .notif img {
    width: 16px;
    height: auto;
    margin-right: 7px; }
  .notif p {
    color: #722ed1; }
  .notif a {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-decoration: none;
    border-bottom: 1px solid #722ed1; }
    .notif a:hover {
      color: #5b25a7;
      border-color: #5b25a7; }

.main_banner {
  padding: 240px 0 380px; }
  .main_banner .mb_info > h1 {
    color: #160637;
    font-size: 50px;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 14px;
    font-weight: 900;
    max-width: 430px; }
  .main_banner .mb_info > .descr {
    color: #8989A2;
    margin-bottom: 45px;
    font-size: 18px; }
  .main_banner .mb_info > .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main_banner .mb_info > .btns > .btn_white {
      margin-left: 16px; }
